{% extends 'knp_menu.html.twig' %}

{% block list %}
    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
        {% import _self as knp_menu %}
 <div class="navigation">
    <nav class="container">
        <div id="header" class="okayNav-header">
            <nav role="navigation" id="nav-main" class="okayNav">
            	<ul>
            {{ block('children') }}
                </ul>
            </nav>
        </div><!-- /header -->
    </nav>
</div>
    {% endif %}
{% endblock %}


