parameters:
    # override default cmf dynamic router with our implementation (with support for Meta classes)
    cmf_routing.dynamic_router.class: SWP\Bundle\WebRendererBundle\Routing\MetaRouter
    # override Sylius default ThemeFactory
    sylius.factory.theme.class: SWP\Bundle\WebRendererBundle\Theme\Factory\ThemeFactory
    # override Sylius default AssetsInstaller
    sylius.theme.asset.assets_installer.class: SWP\Bundle\WebRendererBundle\Theme\Asset\AssetsInstaller
    # override Sylius default PathResolver
    sylius.theme.asset.path_resolver.class: SWP\Bundle\WebRendererBundle\Theme\Asset\PathResolver
    swp_webrenderer.twig_extension.class: SWP\Bundle\WebRendererBundle\Twig\WebRendererExtension
    swp_webrenderer.routing.route_enhancer.class: SWP\Bundle\WebRendererBundle\Enhancer\RouteEnhancer
    swp_webrenderer.theme.resolver.template_name.class: SWP\Bundle\WebRendererBundle\Resolver\TemplateNameResolver

services:
    swp_webrenderer.detection.device_detection:
        class: SWP\Bundle\WebRendererBundle\Detection\DeviceDetection

    sylius.theme.locator.application_resource:
        class: SWP\Bundle\WebRendererBundle\Locator\ApplicationResourceLocator
        arguments:
            - "@filesystem"
            - "@swp_webrenderer.detection.device_detection"

    sylius.theme.locator.bundle_resource:
        class: SWP\Bundle\WebRendererBundle\Locator\BundleResourceLocator
        arguments:
            - "@filesystem"
            - "@kernel"
            - "@swp_webrenderer.detection.device_detection"

    swp_webrenderer.theme.context.tenant_aware:
        class: SWP\Bundle\WebRendererBundle\Theme\TenantAwareThemeContext
        public: false
        arguments:
            - "@swp_multi_tenancy.tenant_context"
            - "@sylius.repository.theme"

    swp_webrenderer.twig_extension:
        class: '%swp_webrenderer.twig_extension.class%'
        public: false
        arguments:
            - "@swp_webrenderer.theme.context.tenant_aware"
        tags:
            - { name: twig.extension }

    swp_webrenderer.no_theme_exception_listener:
        class: SWP\Bundle\WebRendererBundle\EventListener\NoThemeExceptionListener
        tags:
            - { name: kernel.event_listener, event: kernel.exception }

    swp_webrenderer.theme.resolver.template_name:
        class: '%swp_webrenderer.theme.resolver.template_name.class%'

    swp_webrenderer.routing.route_enhancer:
        class: '%swp_webrenderer.routing.route_enhancer.class%'
        arguments:
            - "@swp_webrenderer.theme.resolver.template_name"
            - "@swp_template_engine_loader_chain"
        tags:
            -  { name: dynamic_router_route_enhancer, priority: 10 }

    swp_webrenderer.twig_stringy_extension:
        class: SWP\Bundle\WebRendererBundle\Twig\StringyExtension
        public: false
        arguments:
            - "@twig"
        tags:
            - {name: twig.extension}
