parameters:
    # override default cmf dynamic router with our implementation (with support for Meta Article)
    cmf_routing.dynamic_router.class: SWP\Bundle\WebRendererBundle\Routing\MetaRouter
    # override Sylius default ThemeFactory
    sylius.factory.theme.class: SWP\Bundle\WebRendererBundle\Theme\Factory\ThemeFactory

services:
    swp_webrenderer.detection.device_detection:
        class: SWP\Bundle\WebRendererBundle\Detection\DeviceDetection

    sylius.theme.locator.application_resource:
        class: SWP\Bundle\WebRendererBundle\Locator\ApplicationResourceLocator
        arguments:
            - "@filesystem"
            - "@swp_webrenderer.detection.device_detection"

    sylius.theme.locator.bundle_resource:
        class: SWP\Bundle\WebRendererBundle\Locator\BundleResourceLocator
        arguments:
            - "@filesystem"
            - "@kernel"
            - "@swp_webrenderer.detection.device_detection"

    swp_webrenderer.theme.context.tenant_aware:
        class: SWP\Bundle\WebRendererBundle\Theme\TenantAwareThemeContext
        # public: false
        arguments:
            - "@swp_multi_tenancy.tenant_context"
            - "@sylius.repository.theme"
