language: php

matrix:
    include:
     - php: 7.0
     - php: hhvm
     - php: nightly
    allow_failures:
     - php: hhvm
     - php: nightly
    fast_finish: true

before_script:
  - composer self-update
  - composer install

script:
  - bin/phpunit --coverage-text
  - bin/phpspec run --format pretty
