language: php

php:
  - 7.1
  - nightly

sudo: false

cache:
  directories:
    - $HOME/.composer/cache/files

matrix:
  allow_failures:
    - php: nightly
  fast_finish: true

before_install:
  - composer self-update

env:
  - COMPOSER_FLAGS='update --prefer-stable'
  - COMPOSER_FLAGS='install'

before_script:
  - composer $COMPOSER_FLAGS --prefer-dist --no-interaction

script:
    - bin/phpspec run -fpretty --verbose
    - bin/phpunit --coverage-text
