<html>
    <head></head>
    <body>
        <div class="header">
            <div class="title">
                <h1>{{ gimme.article.title }}</h1>
            </div>
        </div>
        <p>{{ gimme.article.lead }}</p>
        <p>{{ gimme.article.body|raw }}</p>
    </body>
</html>