<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h2>Get Involved</h2>
        <h4>{{gimme.article.title}}</h4>
        <p>Id: {{gimme.article.id}}</p>
    </body>
</html>
