language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm
  - nightly

sudo: false

cache:
  directories:
    - $HOME/.composer/cache/files

env:
  - COMPOSER_FLAGS='--prefer-lowest --prefer-stable'
  - COMPOSER_FLAGS=''

matrix:
  allow_failures:
    - php: hhvm
    - php: nightly
  fast_finish: true

before_install:
  - composer self-update

install: composer update $COMPOSER_FLAGS --prefer-dist --no-interaction

script:
  - bin/phpunit --coverage-text --debug --verbose
  - bin/phpspec run -fpretty --verbose
