SWP\Bundle\ContentBundle\Model\ArticleAuthor:
    type: mappedSuperclass
    table: swp_author
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        name:
            type: string
        role:
            type: string
        biography:
            type: text
            nullable: true
        avatarUrl:
            type: string
            nullable: true
        jobTitle:
            type: array
        slug:
            type: string
            nullable: true
        twitter:
            type: string
            nullable: true
        facebook:
            type: string
            nullable: true
        instagram:
            type: string
            nullable: true
    oneToOne:
        avatar:
            targetEntity: SWP\Bundle\ContentBundle\Model\AuthorMediaInterface
            joinColumn:
                name: author_media_id
                referencedColumnName: id
                nullable: true
