SWP\Bundle\ContentBundle\Model\Slideshow:
    type: mappedSuperclass
    table: swp_slideshow
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: IDENTITY
    fields:
        code:
            type: string
        createdAt:
            type: datetime
            gedmo:
                timestampable:
                    on: create
        updatedAt:
            type: datetime
            nullable: true
            gedmo:
                timestampable:
                    on: update
    manyToOne:
        article:
            targetEntity: SWP\Bundle\ContentBundle\Model\ArticleInterface
            inversedBy: slideshows
            joinColumn:
                referencedColumnName: id
                onDelete: CASCADE
    oneToMany:
        items:
            targetEntity: SWP\Bundle\ContentBundle\Model\SlideshowItemInterface
            mappedBy: slideshow
            orphanRemoval: true
            cascade: ['all']
