framework:
    messenger:
        # Uncomment this (and the failed transport below) to send failed messages to this transport for later handling.
        failure_transport: failed
        transports:
            failed: 'doctrine://default?table_name=swp_failed_queue&queue_name=failed'
            async_content_push:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    exchange:
                        name: '%kernel.environment%_%env(APP_SECRET)%_content_push'
            async_migration_content_push:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    exchange:
                        name: '%kernel.environment%_%env(APP_SECRET)%_migration_content_push'
            async_analytics_event:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    exchange:
                        name: '%kernel.environment%_%env(APP_SECRET)%_analytics_event'
            async_analytics_export:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    exchange:
                        name: '%kernel.environment%_%env(APP_SECRET)%_analytics_export'
            async_webhooks:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    exchange:
                        name: '%kernel.environment%_%env(APP_SECRET)%_webhooks'
            async_image_conversion:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    exchange:
                        name: '%kernel.environment%_%env(APP_SECRET)%_image_conversion'
        routing:
            'SWP\Bundle\CoreBundle\AnalyticsExport\ExportAnalytics': async_analytics_export
            'SWP\Bundle\AnalyticsBundle\Messenger\AnalyticsEvent': async_analytics_event
            'SWP\Bundle\CoreBundle\Webhook\Message\WebhookMessage': async_webhooks
            'SWP\Bundle\CoreBundle\MessageHandler\Message\ContentPushMessage': async_content_push
            'SWP\Bundle\CoreBundle\MessageHandler\Message\ContentPushMigrationMessage': async_migration_content_push
            'SWP\Bundle\CoreBundle\MessageHandler\Message\ConvertImageMessage': async_image_conversion
