services:
    swp.analytics.analytics_event_listener:
        class:  SWP\Bundle\AnalyticsBundle\EventListener\AnalyticsEventListener
        arguments:
            - '@old_sound_rabbit_mq.analytics_event_producer'
        tags:
            - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest, priority: 251 }
            - { name: kernel.event_listener, event: kernel.response, method: onKernelResponse, priority: 20 }
            - { name: kernel.event_listener, event: kernel.finish_request, method: onKernelFinishRequest, priority: 1 }
            - { name: kernel.event_listener, event: kernel.terminate, method: onKernelTerminate, priority: 1 }

    SWP\Bundle\AnalyticsBundle\Services\ArticleStatisticsService:
        public: true
        arguments:
            - '@swp.repository.article'
            - '@swp.repository.article_statistics'
            - '@swp.repository.article_events'
            - '@swp.factory.article_statistics'
            - '@swp.factory.article_events'
