/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/config/parameters.yml.bak
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/app/Resources/themes/
/bin/
/docs/_build/
/composer.phar
/vendor/
/web/bundles/
/web/config.php
logs/
build/
