/src/SWP/Bundle/FixturesBundle/Resources/themes/DefaultTheme/sftp-config.json
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/config/parameters.yml.bak
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/app/themes/
/bin/
!/bin/UpdateApplicationVersion.php
/docs/_build/
/composer.phar
/docker/pgsql/config/*
!/docker/pgsql/config/.gitkeep
/docker/pgsql/data/*
!/docker/pgsql/data/.gitkeep
/vendor/
/web/bundles/
/web/uploads/*
!/web/uploads/.gitkeep
/web/config.php
logs/
build/
RMT
