default:
    calls:
        error_reporting: 16383 # E_ALL & ~E_USER_DREPRECATED
    suites:
        paths:
            features: 'features/fixtures'
        default:
            contexts:
                - rdx\behatvars\BehatVariablesContext
                - FeatureContext
                - JsonContext
                - AuthTokenContext
                - GeoLocationContext
                - SWP\Behat\Contexts\CsvFileContext
                - Behat\MinkExtension\Context\MinkContext
                - SWP\Behat\Contexts\TenantContext
                - SWP\Behat\Contexts\ContentListContext
                - SWP\Behat\Contexts\ContentListItemContext
                - SWP\Behat\Contexts\RouteContext
                - SWP\Behat\Contexts\ArticleContext
                - SWP\Behat\Contexts\TemplatingContext
                - SWP\Behat\Contexts\CommandContext
                - SWP\Behat\Contexts\PackageContext
                - SWP\Behat\Contexts\RuleContext
                - SWP\Behat\Contexts\WebhookContext
                - SWP\Behat\Contexts\DateTimeContext
                - SWP\Behat\Contexts\UserContext
                - SWP\Behat\Contexts\SlideshowContext
                - SWP\Behat\Contexts\SlideshowItemContext
                - SWP\Behat\Contexts\ArticleMediaContext
                - SWP\Behat\Contexts\Hook\DoctrineORMContext
                - SWP\Behat\Contexts\MessengerContext

    extensions:
        rdx\behatvars\BehatVariablesExtension: ~
        #Behat\Symfony2Extension:
        #    kernel:
        #        bootstrap: features/bootstrap/bootstrap.php
        #        class: App\Kernel
        #        path: src/Kernel.php
        #FriendsOfBehat\ServiceContainerExtension: ~
        FriendsOfBehat\SymfonyExtension:
            bootstrap: features/bootstrap/bootstrap.php
            kernel:
               class: App\Kernel
               path: src/Kernel.php

        Behat\MinkExtension:
            files_path: %behat.paths.base%/features/fixtures/
            sessions:
                symfony:
                    symfony: ~
        Behatch\Extension: ~
        VIPSoft\DoctrineDataFixturesExtension\Extension:
              lifetime: feature
              autoload: false
              fixtures:
                - SWP\Bundle\FixturesBundle\DataFixtures\ORM\LoadTenantsData
                - SWP\Bundle\FixturesBundle\DataFixtures\ORM\LoadUsersData
                - SWP\Bundle\FixturesBundle\DataFixtures\ORM\LoadArticlesData

