parameters:
    excludes_analyse:
        - *Spec.php
        - */cache/*
        - *Test.php
        - */Tests/*.php
        - */Tests/**/*.php
        - */Migrations/*.php
    ignoreErrors:
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\).#'
        - '#Method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\) invoked with 2 parameters, 1 required.#'