suites:
    # components
    MultiTenancy_suite:
        namespace: SWP\Component\MultiTenancy
        psr4_prefix: SWP\Component\MultiTenancy
        spec_path: src/SWP/Component/MultiTenancy
        src_path: src/SWP/Component/MultiTenancy
    Bridge_suite:
        namespace: SWP\Component\Bridge
        psr4_prefix: SWP\Component\Bridge
        spec_path: src/SWP/Component/Bridge
        src_path: src/SWP/Component/Bridge
    Storage_suite:
        namespace: SWP\Component\Storage
        psr4_prefix: SWP\Component\Storage
        spec_path: src/SWP/Component/Storage
        src_path: src/SWP/Component/Storage
    Common_suite:
        namespace: SWP\Component\Common
        psr4_prefix: SWP\Component\Common
        spec_path: src/SWP/Component/Common
        src_path: src/SWP/Component/Common
    TemplatesSystem_suite:
        namespace: SWP\Component\TemplatesSystem
        psr4_prefix: SWP\Component\TemplatesSystem
        spec_path: src/SWP/Component/TemplatesSystem
        src_path: src/SWP/Component/TemplatesSystem
        spec_prefix: "%namespace%\\spec"
    Rule_suite:
        namespace: SWP\Component\Rule
        psr4_prefix: SWP\Component\Rule
        spec_path: src/SWP/Component/Rule
        src_path: src/SWP/Component/Rule
    ContentList_suite:
        namespace: SWP\Component\ContentList
        psr4_prefix: SWP\Component\ContentList
        spec_path: src/SWP/Component/ContentList
        src_path: src/SWP/Component/ContentList
    OutputChannel_suite:
        namespace: SWP\Component\OutputChannel
        psr4_prefix: SWP\Component\OutputChannel
        spec_path: src/SWP/Component/OutputChannel
        src_path: src/SWP/Component/OutputChannel
    Paywall_suite:
        namespace: SWP\Component\Paywall
        psr4_prefix: SWP\Component\Paywall
        spec_path: src/SWP/Component/Paywall
        src_path: src/SWP/Component/Paywall
    Seo_suite:
        namespace: SWP\Component\Seo
        psr4_prefix: SWP\Component\Seo
        spec_path: src/SWP/Component/Seo
        src_path: src/SWP/Component/Seo

    # bundles
    MultiTenancyBundle_suite:
        namespace: SWP\Bundle\MultiTenancyBundle
        psr4_prefix: SWP\Bundle\MultiTenancyBundle
        spec_path: src/SWP/Bundle/MultiTenancyBundle
        src_path: src/SWP/Bundle/MultiTenancyBundle
    ContentBundle_suite:
        namespace: SWP\Bundle\ContentBundle
        psr4_prefix: SWP\Bundle\ContentBundle
        spec_path: src/SWP/Bundle/ContentBundle
        src_path: src/SWP/Bundle/ContentBundle
    CoreBundle_suite:
        namespace: SWP\Bundle\CoreBundle
        psr4_prefix: SWP\Bundle\CoreBundle
        spec_path: src/SWP/Bundle/CoreBundle
        src_path: src/SWP/Bundle/CoreBundle
    BridgeBundle_suite:
        namespace: SWP\Bundle\BridgeBundle
        psr4_prefix: SWP\Bundle\BridgeBundle
        spec_path: src/SWP/Bundle/BridgeBundle
        src_path: src/SWP/Bundle/BridgeBundle
    StorageBundle_suite:
        namespace: SWP\Bundle\StorageBundle
        psr4_prefix: SWP\Bundle\StorageBundle
        spec_path: src/SWP/Bundle/StorageBundle
        src_path: src/SWP/Bundle/StorageBundle
    RuleBundle_suite:
        namespace: SWP\Bundle\RuleBundle
        psr4_prefix: SWP\Bundle\RuleBundle
        spec_path: src/SWP/Bundle/RuleBundle
        src_path: src/SWP/Bundle/RuleBundle
    ContentListBundle_suite:
        namespace: SWP\Bundle\ContentListBundle
        psr4_prefix: SWP\Bundle\ContentListBundle
        spec_path: src/SWP/Bundle/ContentListBundle
        src_path: src/SWP/Bundle/ContentListBundle
    TemplatesSystemBundle_suite:
        namespace: SWP\Bundle\TemplatesSystemBundle
        psr4_prefix: SWP\Bundle\TemplatesSystemBundle
        spec_path: src/SWP/Bundle/TemplatesSystemBundle
        src_path: src/SWP/Bundle/TemplatesSystemBundle
    MenuBundle_suite:
        namespace: SWP\Bundle\MenuBundle
        psr4_prefix: SWP\Bundle\MenuBundle
        spec_path: src/SWP/Bundle/MenuBundle
        src_path: src/SWP/Bundle/MenuBundle
    WebhookBundle_suite:
        namespace: SWP\Bundle\WebhookBundle
        psr4_prefix: SWP\Bundle\WebhookBundle
        spec_path: src/SWP/Bundle/WebhookBundle
        src_path: src/SWP/Bundle/WebhookBundle
    OutputChannelBundle_suite:
        namespace: SWP\Bundle\OutputChannelBundle
        psr4_prefix: SWP\Bundle\OutputChannelBundle
        spec_path: src/SWP/Bundle/OutputChannelBundle
        src_path: src/SWP/Bundle/OutputChannelBundle
    PaywallBundle_suite:
        namespace: SWP\Bundle\PaywallBundle
        psr4_prefix: SWP\Bundle\PaywallBundle
        spec_path: src/SWP/Bundle/PaywallBundle
        src_path: src/SWP/Bundle/PaywallBundle
    SeoBundle_suite:
        namespace: SWP\Bundle\SeoBundle
        psr4_prefix: SWP\Bundle\SeoBundle
        spec_path: src/SWP/Bundle/SeoBundle
        src_path: src/SWP/Bundle/SeoBundle
