<h1>Hi! Please confirm your email!</h1>

<p>
    Please confirm your email address by clicking the following link: <br><br>
    <a href="{{ url|raw }}">Confirm my Email</a>.
</p>

<p>
    Cheers!
</p>
