swp_content:
  resource: "@SWPContentBundle/Resources/config/routing.yml"

security_login_check:
   path: /security/login_check

security_logout:
   path: /security/logout

swp_core:
    resource: "@SWPCoreBundle/Controller/"
    type:     annotation

swp_facebook_instant_articles:
    resource: "@SWPFacebookInstantArticlesBundle/Resources/config/routing.yml"

swp_user:
    resource: "@SWPUserBundle/Resources/config/routing.yml"

swp_elasticsearch:
    resource: "@SWPElasticSearchBundle/Controller/Api"
    type:     annotation

swp_redirecting_extra_data:
    path: /redirecting/extra/{key}/{value}
    defaults: { _controller: SWP\Bundle\CoreBundle\Controller\RedirectingController::redirectBasedOnExtraDataAction }
    requirements:
        key: \w+
        value: \+?\w+
    methods: [GET]

swp_redirecting_slug:
  path: /r/{slug}
  defaults: { _controller: SWP\Bundle\CoreBundle\Controller\RedirectingController::redirectBasedOnSlug }
  requirements:
    slug: .*
  methods: [GET]