<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h2>Homepage theme_test</h2>
        <span>theme_test/index.html.twig</span>
        <p><strong>Current tenant:</strong> {{ tenant.name }}</p>
        <p><strong>Assigned homepage:</strong> {{ gimme.route.name }} (id: {{ gimme.route.id }})</p>
    </body>
</html>
