<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h2>Test template</h2>
        <span>theme_test/test.html.twig</span>
    {{ gimme.route.id }}
    </body>
</html>
