{% trans_default_domain 'SWPUserBundle' %}
{{ form_start(form, {'method': 'post', 'action': path('swp_user_registration_register'), 'attr': {'class': 'swp_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
