<html>
    <head>
        <title>Superdesk Web Publisher</title>
    </head>
    <body>
        <h3>This is default article.html.twig template. Please replace it by creating your own version in used theme (views/article.html.twig).</h3>
    </body>
</html>
