imports:
    - { resource: config.yml }

#framework:
#    validation:
#        cache: apc

monolog:
    channels: ["analytics"]
    handlers:
        main:
            type:         fingers_crossed
            action_level: error
            handler:      nested
        nested:
            type:  stream
            path:  "%kernel.logs_dir%/%kernel.environment%.log"
            level: debug
        console:
            type:  console
        # for logging analytics with SWP\Bundle\AnalyticsBundle only
        analytics:
            type: service
            level: debug
            id: swp.analytics.logger_database
            channels: ["analytics"]
