imports:
    - { resource: "@SWPBridgeBundle/Resources/config/app/config.yml" }
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: en
framework:
    #esi:             ~
    translator:
        fallbacks: ["%locale%"]
        logging: false
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    templating:
        engines: ['twig']
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        handler_id:  ~
        name: SUPERDESKWEBPUBLISHER
    fragments:       ~
    http_method_override: true

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: false

sylius_theme:
    context: "swp_webrenderer.theme.context.tenant_aware"
    sources:
        tenantable: ~

twig_cache:
    service: "doctrine_cache.providers.main_cache"

# Doctrine Configuration
doctrine:
    dbal:
        driver:   pdo_pgsql
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
        server_version: "%server_version%"
        mapping_types:
            json: string

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        entity_managers:
            default:
                naming_strategy: doctrine.orm.naming_strategy.underscore
                auto_mapping: false
                metadata_cache_driver:
                    type: service
                    id: doctrine_cache.providers.main_cache
                query_cache_driver:
                    type: service
                    id: doctrine_cache.providers.main_cache
                mappings:
                    SWPAnalyticsBundle:
                        type: yml
                        prefix: SWP\Bundle\AnalyticsBundle\Model
                        dir: Resources/config/doctrine
                    SWPTemplateEngineBundle:
                        type: yml
                        prefix: SWP\Bundle\TemplateEngineBundle\Model
                        dir: Resources/config/doctrine
                    SWPMultiTenancyBundle:
                        type: yml
                        prefix: SWP\Component\MultiTenancy\Model
                        dir: Resources/config/doctrine
                    SWPWebRendererBundle:
                        type: yml
                        prefix: SWP\Bundle\WebRendererBundle\Model
                        dir: Resources/config/doctrine
                    gedmo_loggable:
                        type: annotation
                        prefix: Gedmo\Loggable\Entity
                        dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Loggable/Entity"
                        is_bundle: false
                filters:
                    soft-deleteable:
                        class: Gedmo\SoftDeleteable\Filter\SoftDeleteableFilter
                        enabled: true
                    tenantable:
                        class: SWP\Bundle\MultiTenancyBundle\Query\Filter\TenantableFilter
                        enabled: true

doctrine_cache:
    providers:
        main_cache:
            type: "%doctrine_cache_driver%"

# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }

fos_http_cache:
    cache_manager:
        enabled: true
        generate_url_type: 0
    proxy_client:
        symfony:
            servers: "%cache_servers%"
    invalidation:
        enabled: true

doctrine_phpcr:
    odm:
        auto_mapping: true
        auto_generate_proxy_classes: "%kernel.debug%"
        metadata_cache_driver:
            type: service
            id: doctrine_cache.providers.main_cache
        locales:
            en:
        locale_fallback: hardcoded
        default_locale: "%locale%"
    session:
        backend:
            type: doctrinedbal
            logging: true
            profiling: true
            check_login_on_server: false
            caches:
                meta: doctrine_cache.providers.main_cache
                nodes: doctrine_cache.providers.main_cache
        workspace: default

cmf_routing:
    chain:
        routers_by_id:
            router.default: 200
            swp_multi_tenancy.tenant_aware_router: 150
            cmf_routing.dynamic_router: 100
    dynamic:
        route_collection_limit: 100
        persistence:
            phpcr:
                enabled: true

cmf_core:
    publish_workflow:
        enabled:                 true
        checker_service:         cmf_core.publish_workflow.checker.default
        view_non_published_role: ROLE_CAN_VIEW_NON_PUBLISHED
        request_listener:        true

fos_rest:
    zone:
        - { path: ^/api/* }
    versioning:
        enabled: false
    routing_loader:
        default_format: json
    view:
        formats:
            json: true
        view_response_listener: false
    serializer:
        serialize_null: true
    format_listener:
        rules:
            - { path: "^/api", priorities: ['json'], fallback_format: json, prefer_extension: true }
            - { path: "^/", stop: true }
    body_listener:
        decoders:
            json: fos_rest.decoder.jsontoform
    disable_csrf_role: ROLE_API
    exception:
        codes:
            "Symfony\\Component\\Routing\\Exception\\ResourceNotFoundException": 404
        messages:
            "Symfony\\Component\\Routing\\Exception\\ResourceNotFoundException": true

sensio_framework_extra:
    view:    { annotations: false }

knp_paginator:
    page_range: 10
    default_options:
        page_name: page
        sort_field_name: sort
        sort_direction_name: direction
        distinct: true

swp_updater:
    version_class: "%swp_updater.version.class%"
    client:
        base_uri: "http://updates.sourcefabric.org"

stof_doctrine_extensions:
    default_locale: "%locale%"
    orm:
        default:
            timestampable: true
            softdeleteable: true
            loggable: true
            sortable: true

swp_multi_tenancy:
    resources:
        tenant:
            classes:
                model: SWP\Bundle\WebRendererBundle\Model\Tenant
    persistence:
        phpcr:
            enabled: true
            site_document_class: SWP\Bundle\ContentBundle\Doctrine\ODM\PHPCR\Site
            document_class: SWP\Bundle\ContentBundle\Doctrine\ODM\PHPCR\Route

swp_web_renderer:
    device_listener:
        enabled: true

swp_content:
    persistence:
        phpcr: true

swp_bridge:
    persistence:
        orm: true

nelmio_api_doc:
    request_listener: false

jms_serializer:
    metadata:
        directories:
            CmfRoutingBundle:
                namespace_prefix: Symfony\Cmf\Bundle\RoutingBundle
                path: "@SWPContentBundle/Resources/config/serializer/CmfRoutingBundle"
            SymfonyRouting:
                namespace_prefix: Symfony\Component\Routing
                path: "@SWPContentBundle/Resources/config/serializer/SymfonyRouting"

cmf_menu:
    persistence:
        phpcr:
            enabled: true
            menu_basepath: ~


oneup_flysystem:
    adapters:
        filesystem_adapter:
            local:
                directory: %kernel.root_dir%/../web/uploads/

    filesystems:
        swp_filesystem:
            adapter: filesystem_adapter
            alias: swp_filesystem
