security:
    encoders:
        FOS\UserBundle\Model\UserInterface: bcrypt

    role_hierarchy:
        ROLE_JOURNALIST:    [ROLE_USER]
        ROLE_EDITOR:        [ROLE_JOURNALIST, ROLE_CAN_VIEW_NON_PUBLISHED]
        ROLE_INTERNAL_API:  [ROLE_EDITOR]
        ROLE_ADMIN:         [ROLE_EDITOR]
        ROLE_SUPER_ADMIN:   [ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]

    providers:
        fos_userbundle:
            id: swp.security.user_provider

    firewalls:
        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js|)/
            security: false
        public:
            pattern: ^/api/(doc|[v0-9]{2}/auth)
            security: false
        internal_api:
            pattern: ^/api
            anonymous: false
            logout: false
            guard:
                authenticators:
                    - swp.security.token_authenticator
            stateless: true
        main:
            pattern: ^/
            form_login:
                check_path: security_login_check
                provider: fos_userbundle
                target_path_parameter: _login_success_path
                failure_path_parameter: _login_failure_path
            logout:
                path: security_logout
            anonymous: true