collection.html.twig:

{% gimmelist article from articles with {'route': '/collection-test'} %}
<li><a href="{{ url(article) }}">{{ article.title }} </a></li>
{% endgimmelist %}

{% gimmelist article from articles %}
<li class="route-loaded-from-context"><a href="{{ url(article) }}">{{ url(article) }}</a></li>
{% endgimmelist %}
