<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        Homepage theme_test
        <p><strong>Current tenant:</strong> {{ tenant.subdomain }} (name: {{ tenant.name }})</p>
        <p><strong>Assigned homepage:</strong> {{ page.name }} (id: {{ page.id }})</p>
    </body>
</html>
