<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
    	<h1>Demo Theme - Tablet</h1>
        <h2>Get Involved</h2>
        <h4>{{gimme.article.title}}</h4>
        <p>Id: {{gimme.article.id}}</p>
        <p>Content: {{gimme.article.content}}</p>
    </body>
</html>
