parameters:
    swp_content.transformer.package_to_article.class: SWP\Bundle\ContentBundle\Transformer\PackageToArticleTransformer
    swp.service.route.class: SWP\Bundle\ContentBundle\Service\RouteService
    swp.service.article.class: SWP\Bundle\ContentBundle\Service\ArticleService
    swp_content_bundle.listener.http_cache_header.class: SWP\Bundle\ContentBundle\EventListener\HttpCacheHeaderListener
    swp_content_bundle.manager.media.class: SWP\Bundle\ContentBundle\Manager\MediaManager

services:
    swp_template_engine.loader.article:
        class: SWP\Bundle\ContentBundle\Loader\ArticleLoader
        arguments:
            - "@swp.publish_workflow.checker"
            - "@doctrine_phpcr.odm.document_manager"
            - "%kernel.root_dir%"
            - "@doctrine_cache.providers.main_cache"
            - "@swp_multi_tenancy.path_builder"
            - "%swp_multi_tenancy.persistence.phpcr.route_basepaths%"
        tags:
            - { name: swp.meta_loader }

    document_manager:
        alias: doctrine_phpcr.odm.document_manager

    swp_content_bundle.factory.knp_paginator_representation:
        class: SWP\Bundle\ContentBundle\Factory\KnpPaginatorRepresentationFactory
        arguments:
            - 'page'
            - 'limit'

    swp_content_bundle.listener.link_request:
        class: SWP\Bundle\ContentBundle\EventListener\LinkRequestListener
        arguments:  ["@controller_resolver", "@router"]
        tags:
            - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest }

    swp_content_bundle.listener.http_cache_header:
        class: '%swp_content_bundle.listener.http_cache_header.class%'
        tags:
            - { name: kernel.event_listener, event: kernel.response, method: onKernelResponse }

    swp_pagination_rep:
        alias: swp_content_bundle.factory.knp_paginator_representation

    swp_content.transformer.package_to_article:
        class: '%swp_content.transformer.package_to_article.class%'
        arguments:
            - '@swp.factory.article'
            - '@event_dispatcher'
        tags:
            - { name: transformer.http_push_transformer, alias: transformer.package_to_article, priority: -1 }

    swp.service.route:
        class: '%swp.service.route.class%'
        arguments:
            - '@swp.factory.route'
            - '@swp.provider.route'
            - '@swp.provider.article'
            - '@event_dispatcher'

    swp.service.article:
        class: '%swp.service.article.class%'

    swp.publish_workflow.checker:
        alias: cmf_core.publish_workflow.checker

    swp_content_bundle.manager.media:
        class: '%swp_content_bundle.manager.media.class%'
        arguments:
            - '@swp_multi_tenancy.path_builder'
            - '@swp_filesystem'
            - '@swp.object_manager.media'
            - '@router'
            - '@swp_multi_tenancy.tenant_context'
            - '%swp_multi_tenancy.persistence.phpcr.media_basepath%'

    swp_content.article_metadata_subscriber:
        class: SWP\Bundle\ContentBundle\EventListener\ArticleMetadataSubscriber
        tags:
            - { name: kernel.event_subscriber }
