<?xml version="1.0" encoding="UTF-8"?>

<!-- http://phpunit.de/manual/4.1/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="../vendor/autoload.php"
>
    <listeners>
        <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener" />
    </listeners>

    <php>
        <ini name="zend.enable_gc" value="0"/>
        <ini name="error_reporting" value="-1" />
        <ini name="intl.default_locale" value="en" />
        <ini name="intl.error_level" value="0" />
        <ini name="memory_limit" value="-1" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="1000" />
    </php>

    <testsuites>
        <testsuite name="WebPublisher Test Suite">
            <directory>../src/SWP/Component/*/Tests/</directory>
            <directory>../src/SWP/Bridge/*/Tests/</directory>
            <directory>../src/SWP/Bundle/*/Tests/</directory>
            <exclude>../src/SWP/Bundle/FixturesBundle/Tests/*</exclude>
            <exclude>../src/SWP/Bundle/BridgeBundle/Tests/*</exclude>
            <exclude>../src/SWP/Bundle/TemplatesSystemBundle/Tests/*</exclude>
            <exclude>../src/SWP/Bundle/ContentBundle/Tests/*</exclude>
            <exclude>../src/SWP/Bundle/SettingsBundle/Tests/*</exclude>
            <exclude>../src/SWP/Bundle/UserBundle/Tests/*</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>../src/SWP/</directory>
            <exclude>
                <directory>../src/SWP/Component/*/Tests</directory>
                <directory>../src/SWP/Bridge/*/Tests</directory>
                <directory>../src/SWP/Bundle/Bundle/*/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
