<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        theme_test/desktop/index.html.twig

        {# delegate to lifetime strategy #}
        {% cache 'v1/summary' {time: 300} %}
            {# heavy lifting template stuff here, include/render other partials etc #}
        {% endcache %}

        {# delegate to lifetime strategy #}
        {% cache 'v1/summary' {time: 300} %}
            {# heavy lifting template stuff here, include/render other partials etc #}
        {% endcache %}
    </body>
</html>
