services:
    monolog.gelf_handler:
        class: Monolog\Handler\GelfHandler
        arguments: ["@gelf.publisher", 100]

    gelf.validator:
        class: Gelf\MessageValidator

    gelf.transport:
        class: Gelf\Transport\UdpTransport
        arguments: ['%env(LOG_DOMAIN)%', '%env(LOG_PORT)%']

    gelf.publisher:
        class: Gelf\Publisher
        arguments: ["@gelf.transport", "@gelf.validator"]

monolog:
    channels:
        - swp_send_webhook
        - swp_asset_download
        - swp_content_push
        - swp_image_conversion
        - swp_rule
        - swp_validators
    handlers:
        console:
            type:  console
        custom_channels:
            type: fingers_crossed
            action_level: debug
            handler: grouped
            channels:
                - swp_send_webhook
                - swp_content_push
                - swp_image_conversion
                - swp_asset_download
                - swp_rule
                - swp_validators
                - swp_analytics
        app:
            type: fingers_crossed
            action_level: error
            handler: grouped
            channels:
                - app
            excluded_http_codes: [404]
        grouped:
            type: whatfailuregroup
            members: [streamed, gelf]
        streamed:
            type:  rotating_file
            max_files: 7
        gelf:
            type: service
            id: monolog.gelf_handler
            include_stacktraces: true
