SWP\Bundle\UserBundle\Model\User:
    type:  mappedSuperclass
    table: swp_user
    id:
        id:
            type: integer
            generator:
                strategy: AUTO
    fields:
        createdAt:
            type: datetime
        updatedAt:
            type: datetime
            nullable: true
        firstName:
            type: string
            nullable: true
        lastName:
            type: string
            nullable: true
        about:
            type: text
            nullable: true
        externalId:
            type: string
            nullable: true
