<header>
  <a id="hamburger" class="button" on='tap:drawermenu.toggle'>
    <amp-img src="{{ asset('theme/assets/img/hamburger.svg') }}" width="22" height="22" alt="navigation"></amp-img>
  </a>
  <div class="logo_wrapper">
    <a id="logo" href="/"></a>
  </div>
</header>
