{% trans_default_domain 'SWPUserBundle' %}

{{ form_start(form, { 'action': path('swp_user_group_edit', {'groupName': group_name}), 'attr': { 'class': 'swp_user_group_edit' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'group.edit.submit'|trans }}" />
    </div>
{{ form_end(form) }}
