parameters:
    swp_multi_tenancy.twig_extension.class: SWP\Bundle\MultiTenancyBundle\Twig\MultiTenancyExtension
    swp_multi_tenancy.tenant_resolver.class: SWP\Component\MultiTenancy\Resolver\TenantResolver
    swp_multi_tenancy.tenant_context.class: SWP\Bundle\MultiTenancyBundle\Context\TenantContext
    swp_multi_tenancy.random_string_generator.class: SWP\Component\Common\Generator\RandomStringGenerator

services:
    _defaults:
        public: true

    swp_multi_tenancy.twig_extension:
        class: '%swp_multi_tenancy.twig_extension.class%'
        public: false
        arguments:
            - '@swp_multi_tenancy.tenant_context'
        tags:
            - { name: twig.extension }

    swp_multi_tenancy.tenant_resolver:
        class: '%swp_multi_tenancy.tenant_resolver.class%'
        lazy: true
        arguments:
            - '@swp.repository.tenant'

    swp_multi_tenancy.tenant_context:
        class: '%swp_multi_tenancy.tenant_context.class%'
        public: true
        arguments:
            - '@swp_multi_tenancy.tenant_resolver'
            - '@request_stack'
            - '@event_dispatcher'

    swp_multi_tenancy.tenant_provider:
       class: SWP\Component\MultiTenancy\Provider\TenantProvider
       arguments:
            - '@swp.repository.tenant'

    SWP\Component\MultiTenancy\Provider\TenantProviderInterface:
        alias: swp_multi_tenancy.tenant_provider

    swp_multi_tenancy.random_string_generator:
        class: '%swp_multi_tenancy.random_string_generator.class%'

    swp_multi_tenancy.form.type.tenant_choice:
        class: SWP\Bundle\MultiTenancyBundle\Form\Type\TenantChoiceType
        arguments:
            - '@swp.repository.tenant'
        tags:
            - { name: form.type }

    swp_multi_tenancy.form.type.tenant_selector:
        class: SWP\Bundle\MultiTenancyBundle\Form\Type\TenantSelectorType
        arguments:
            - '@swp.repository.tenant'
            - '@swp_multi_tenancy.tenant_context'
        tags:
            - { name: form.type }

    swp_multi_tenancy.tenant.console_command.listener:
        class: SWP\Bundle\MultiTenancyBundle\EventListener\ConsoleCommandTenantListener
        arguments:
            - '@swp_multi_tenancy.tenant_context'
            - '@swp.repository.tenant'
        tags:
            - { name: kernel.event_listener, event: console.command, method: onConsoleCommand }
