parameters:
    swp_multi_tenancy.twig_extension.class: SWP\Bundle\MultiTenancyBundle\Twig\MultiTenancyExtension
    swp_multi_tenancy.tenant_resolver.class: SWP\Component\MultiTenancy\Resolver\TenantResolver
    swp_multi_tenancy.tenant_context.class: SWP\Bundle\MultiTenancyBundle\Context\TenantContext
    swp_multi_tenancy.tenant_provider.class: SWP\Component\MultiTenancy\Provider\TenantProvider
    swp_multi_tenancy.random_string_generator.class: SWP\Component\Common\Generator\RandomStringGenerator

services:
    swp_multi_tenancy.twig_extension:
        class: '%swp_multi_tenancy.twig_extension.class%'
        public: false
        arguments:
            - '@swp_multi_tenancy.tenant_context'
        tags:
            - { name: twig.extension }

    swp_multi_tenancy.tenant_resolver:
        class: '%swp_multi_tenancy.tenant_resolver.class%'
        arguments:
            - '@swp.repository.tenant'

    swp_multi_tenancy.tenant_context:
        class: '%swp_multi_tenancy.tenant_context.class%'
        arguments:
            - '@swp_multi_tenancy.tenant_resolver'
            - '@request_stack'

    swp_multi_tenancy.tenant_provider:
       class: '%swp_multi_tenancy.tenant_provider.class%'
       arguments:
            - '@swp.repository.tenant'

    swp_multi_tenancy.random_string_generator:
        class: '%swp_multi_tenancy.random_string_generator.class%'

    swp_multi_tenancy.form.type.tenant_choice:
        class: SWP\Bundle\MultiTenancyBundle\Form\Type\TenantChoiceType
        arguments:
            - '@swp.repository.tenant'
        tags:
            - { name: form.type }

    swp_multi_tenancy.form.type.tenant_selector:
        class: SWP\Bundle\MultiTenancyBundle\Form\Type\TenantSelectorType
        arguments:
            - '@swp.repository.tenant'
            - '@swp_multi_tenancy.tenant_context'
        tags:
            - { name: form.type }
