{% extends 'base.html.twig' %}

{% block body %}
    Welcome to Demo Theme!

    <br>
    <a href="{{ path('swp_page_about_us') }}">About Us</a>
    <a href="{{ path('swp_page_features') }}">Features</a>
    <a href="{{ path('swp_page_get_involved') }}">Get Involved</a>
{% endblock %}
