{% extends 'base.html.twig' %}

{% block body %}
<div id="page" class="container">

  <!-- Content -->
  <section id="content">

    <div class="row masonry" id="masonry_container" style="position: relative; height: 1076px;">
	    <div class="span3 masonry-brick" style="position: absolute; top: 0px; left: 0px;">
       	<article class="news_item">
         	<a href="article.html" class="thumbnail"><img src="img/images-cms-image-000000111.jpg" alt="View from Amager beach (photo: Source Fabric)"></a>
            <div class="content content_text">
            	<h6 class="info">James Q. Reporter, Sarah Staffwriter - 02.05.2013, 08:17</h6>
            	<h3 class="title"><a href="article.html">Private aviation companies take flight</a></h3>
            	<p>Id dicta harum nam, ne latine labitur eam, inani evertitur forensibus in eum. Cu quo augue consulatu argumentum. Est everti discere definiebas ne, vis in veri ullum. Fugit omnesque assueverit te has.</p>
        		</div>
    		</article>
   	 </div>

       <div class="span3 masonry-brick" style="position: absolute; top: 0px; left: 300px;">
       	<article class="news_item">
         	<a href="article.html" class="thumbnail"><img src="img/images-cms-image-000000112.jpg" alt="Golden fragments (photo: Source Fabrik)"></a>
            <div class="content content_text">
            	<h6 class="info">Frank N. Stein - 02.05.2013, 08:17</h6>
            	<h3 class="title"><a href="article.html">Tax and trade bureau considers alcohol labeling</a></h3>
               <p>Pri rebum labitur principes at, te nec agam discere ornatus. Nonummy convenire has eu.</p>
        		</div>
    		</article>
    	</div>

      <div class="span3 masonry-brick" style="position: absolute; top: 0px; left: 600px;">
      	<article class="news_item">
         	<a href="article.html" class="thumbnail"><img src="img/images-cms-image-000000113.jpg" alt="Via Giulia (photo: Source F. Abric)"></a>
        	<div class="content content_text">
            <h6 class="info">James Q. Reporter, Amerigo Vespucci - 02.05.2013, 08:17</h6>
            <h3 class="title"><a href="article.html">Where to locate your internet start-up</a></h3>
            <p>Est dolor dissentias quaerendum ne, per bonorum accusata at. Et mea graeci rationibus, in qui scribentur adversarium efficiantur. Ea tantas decore evertitur mei.</p>
        	</div>
    	</article>
    </div>

    <div class="span3 masonry-brick" style="position: absolute; top: 497px; left: 300px;">
        <article class="news_item">
        	<a href="article.html" class="thumbnail"><img src="img/images-cms-image-000000107.jpg" alt="View from Campidoglio (photo: Source Fabricio)"></a>
         <div class="content content_text">
            <h6 class="info">Frank N. Stein - 02.03.2013, 17:38</h6>
            <h3 class="title"><a href="http://liquid-dev.lab.sourcefabric.org/en/mar2013/business/69/Car-industry-resurgence-boosts-economy.htm">Car industry resurgence boosts economy</a></h3>
            <p> An vel laoreet molestiae. Est nobis eripuit probatus an, te his illum dicant. Eu dicit verterem assueverit duo. Vix ei audire latine virtute, quod nonummy nam et, ad per graece vituperata. </p>
        	</div>
         </article>
     </div>

    </div>

    </section>
    <!-- End Content -->
  </div>
  
{% endblock %}
