{% extends 'base.html.twig' %}

{% block body %}

<div id="page" class="container">
  <!-- Content -->
  <section id="content">

    <!-- Row (12) -->
    <div class="row">

      <!-- Span (8) -->

      {% container 'frontArticles' with {
        'cssClass': 'span8'
      } %}

{% cache 'frontTop34' { time:600 } %}

{% set i = 0 %}{# This variable is used to check if manual content list 'Top news' exist #}

{% gimme contentList with { contentListName: "Top news" } %}
{% set listId = contentList.id %}
{% gimmelist item from contentListItems|limit(3)  with { contentListId: listId } %}
{% if loop.first %}

  {% set i = 1 %}
  {% include 'partials/firstArticle.html.twig' with { 'article': item.content } %}

{% elseif (loop.index == 2) or (loop.index == 3) %}

      {% if loop.index == 2 %}
      <!-- Row (8) -->
      <div class="row">
          <!-- Span (3) -->
          <div class="span3">

            <!-- News item -->
            {% include 'partials/secondArticle.html.twig' with { 'article': item.content } %}

          </div><!--End Span (3) -->
          {% endif %}

          {% if loop.index == 3 %}

          <!-- Span (5) -->
          <div class="span5">

            {% include 'partials/thirdArticle.html.twig' with { 'article': item.content } %}

          </div><!-- End Span (5) -->
{% endif %}
{% endif %}
{% if loop.last and loop.index > 1 %}</div><!-- End Row (8) -->{% endif %}
{% endgimmelist %}

{% endgimme %}

{% if i == 0 %}

{# No 'Top news' manual list? No problem - just load three most popular articles instead! #}

{% gimmelist article from articles|order('pageViews','desc')|limit(3) %}
{% if loop.first %}

  {% include 'partials/firstArticle.html.twig' with { 'article': article } %}

{% elseif (loop.index == 2) or (loop.index == 3) %}

      {% if loop.index == 2 %}
      <!-- Row (8) -->
      <div class="row">
          <!-- Span (3) -->
          <div class="span3">

            <!-- News item -->
              {% include 'partials/secondArticle.html.twig' with { 'article': article } %}
            </div><!--End Span (3) -->
      {% endif %}

      {% if loop.index == 3 %}

          <!-- Span (5) -->
          <div class="span5">
            {% include 'partials/thirdArticle.html.twig' with { 'article': article } %}
          </div><!-- End Span (5) -->

      {% endif %}

{% endif %}
{% if loop.last and loop.index > 1 %}</div><!-- End Row (8) -->{% endif %}
{% endgimmelist %}

{% endif %}

{% endcache %}
{% endcontainer %}<!-- End Span (8) -->

{% include '_tpl/front-sidebar.html.twig' %}

</div>
<!-- End Row (12) -->

{% include '_tpl/latest-news.html.twig' %}

</section><!-- End Content -->

</div>

{% endblock %}

{% block template_code %}
<pre class="js-template-code" style="display:none;">{{ source(_self)|escape('html') }}</pre>
{% endblock %}
