<!-- Footer -->
<footer id="footer">
  <div class="container">
      <ul id="footer_menu_first" class="menu hidden-phone">      
            <li><a href="category.html" title="View all posts filed under Politics">Politics</a></li>
            <li><a href="category.html" title="View all posts filed under Business">Business</a></li>
            <li><a href="category.html" title="View all posts filed under Sci/Tech">Sci/Tech</a></li>
            <li><a href="category.html" title="View all posts filed under Health">Health</a></li>
            <li><a href="category.html" title="View all posts filed under Entertainment">Entertainment</a></li>
            <li><a href="category.html" title="View all posts filed under Sports">Sports</a></li>
            <li><a href="category.html" title="View all posts filed under Dialogue">Dialogue</a></li>
        </ul>
        
        <ul id="footer_menu_second" class="menu">
            <li><a href="page.html" title="Credits">Credits</a></li>            
            <li><a href="page.html" title="Marketing">Marketing</a></li>
            <li><a href="page.html" title="Contact">Contact</a></li>
            <li><a href="page.html" title="About us">About us</a></li>
            <li><a href="#">Archives</a></li>
            <li><p><small>Copyright 2013. All rights reserved. Powered by  <a target="_blank" href="http://newscoop.sourcefabric.org/">Newscoop</a>. Designed by  <a target="_blank" href="http://www.sourcefabric.org/">Sourcefabric</a></small></p></li>
        </ul>
    </div>
</footer>
<!-- End Footer -->