
<div class="span4 sidebar hidden-phone">

<script src="http://feeds.feedburner.com/SourcefabricNews?format=sigpro" type="text/javascript"></script>

<div class="sidebarBanner"><p class="sponsored">sponsored</p><a target="_blank" href="http://www.superdesk.org/"><img src="{{ asset('theme/assets/img/300x400.jpg') }}" alt="Superdesk"></a></div>

</div>

