
<div class="span4 sidebar hidden-phone">

<style type="text/css">
.feedburnerFeedBlock {
	margin: 0 0 30px 0;
}

p.feedTitle {
	font-size: 1.5em;
	color: #475f77;
   font-family: 'Oswald', sans-serif;
   text-transform: uppercase;
}

p.feedTitle a {
	text-decoration: none;
	color: #475f77;
}

.feedburnerFeedBlock ul li {
	 padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #d2d2d2;
}

ul li span.headline a {
	color: #d74b4b;
	font-weight: bold;
}

ul li p.date {
	font-size: smaller;
	font-style: italic;
}

div#creditfooter {
	display: none;
	font
}
</style>
<script src="http://feeds.feedburner.com/BbcNews-AlsoInTheNews?format=sigpro" type="text/javascript" ></script>

<a target="_blank" href="http://www.sourcefabric.org/" class="hidden-phone"><span style="color: #ccc; font-variant: small-caps">sponsored</span><br /><img src="{{ asset('theme/assets/img/300x400.jpg') }}" alt="sponsored"></a>

</div>

