services:
    swp.remover.content_list_items_remover:
        class: SWP\Bundle\ContentListBundle\Remover\ContentListItemsRemover
        arguments:
            - '@swp.repository.content_list_item'

    swp.service.content_list:
        class: SWP\Bundle\ContentListBundle\Services\ContentListService
        arguments:
            - '@event_dispatcher'
            - '@swp.factory.content_list_item'


    swp_content_list.loader.content_list_items:
        class: SWP\Bundle\ContentListBundle\Loader\ContentListsItemLoader
        arguments:
            - "@swp.repository.content_list"
            - "@swp.repository.content_list_item"
            - "@swp_template_engine_context.factory.meta_factory"
        tags:
            - { name: swp.meta_loader.add }

    swp_content_list.loader.content_list:
        class: SWP\Bundle\ContentListBundle\Loader\ContentListLoader
        arguments:
            - "@swp.repository.content_list"
            - "@swp_template_engine_context.factory.meta_factory"
        tags:
            - { name: swp.meta_loader.add }
