services:
    _defaults:
        autowire: true
        autoconfigure: true

    SWP\Bundle\ContentListBundle\Remover\ContentListItemsRemover: ~

    swp.service.content_list:
        public: true
        class: SWP\Bundle\ContentListBundle\Services\ContentListService
        arguments:
            - '@event_dispatcher'
            - '@swp.factory.content_list_item'
            - '@swp.repository.content_list_item'

    SWP\Bundle\ContentListBundle\Loader\ContentListsItemLoader:
        tags:
            - { name: swp.meta_loader.add }

    SWP\Bundle\ContentListBundle\Loader\ContentListLoader: ~
    swp_content_list.loader.content_list:
        class: SWP\Component\TemplatesSystem\Gimme\Loader\MemoryCachedLoader
        arguments:
            - '@SWP\Bundle\ContentListBundle\Loader\ContentListLoader'
        tags:
            - { name: swp.meta_loader.add }
