<html>
    <head>
        <title>Superdesk Web Publisher</title>
    </head>
    <body>
        <h3>This is default "category.html.twig" template file. Please, replace it by creating your own version of this file in the currently used theme (views/category.html.twig).</h3>
    </body>
</html>