<html>
    <head>
        <title>Superdesk Web Publisher</title>
    </head>
    <body>
        <h3>Please install theme, see: php bin/console swp:theme:install --help for more details.</h3>
    </body>
</html>
