services:
  _defaults:
    public: false
    autowire: true
    autoconfigure: true
    bind:
      $cacheService: '@doctrine.system_cache_pool'
      $superdeskServers: '%superdesk_servers%'

  SWP\Bundle\CoreBundle\Controller\AuthController: ~
  SWP\Bundle\CoreBundle\Controller\SeoMediaController: ~
  SWP\Bundle\CoreBundle\Controller\SeoMetadataController: ~
  SWP\Bundle\ContentBundle\Controller\AuthorMediaController:
    bind:
      $mediaManager: '@swp_core_bundle.manager.author_media'

  SWP\Bundle\CoreBundle\Controller\PackageSeoMediaUploadController: ~
  SWP\Bundle\CoreBundle\Controller\RedirectingController: ~
  SWP\Bundle\SettingsBundle\Controller\SettingsController: ~
  SWP\Bundle\CoreBundle\Controller\ExternalOauthController: ~
  SWP\Bundle\CoreBundle\Controller\ContentListItemController: ~
  SWP\Bundle\CoreBundle\Controller\FailedQueueController: ~
  SWP\Bundle\CoreBundle\Controller\StaticThemeAssetsController: ~
  SWP\Bundle\CoreBundle\Controller\ThemesController: ~
  SWP\Bundle\CoreBundle\Controller\DefaultController: ~
  SWP\Bundle\CoreBundle\Controller\PublishDestinationController: ~
  SWP\Bundle\CoreBundle\Controller\RedirectRouteController: ~
  SWP\Bundle\CoreBundle\Controller\TenantController: ~
  SWP\Bundle\CoreBundle\Controller\PackagePreviewController: ~

  takeit_amp_html.amp_controller:
    class: SWP\Bundle\CoreBundle\Controller\AmpController
    bind:
      $ampConverter: '@takeit_amp_html.amp_converter'
      $ampThemeLoader: '@takeit_amp_html.loader.theme'
    public: true
    tags: [ 'controller.service_arguments' ]

