parameters:
    # override default cmf dynamic router with our implementation (with support for Meta classes)
    swp_core.twig_extension.class: SWP\Bundle\CoreBundle\Twig\CoreExtension
    swp_core.routing.route_enhancer.class: SWP\Bundle\CoreBundle\Enhancer\RouteEnhancer
    swp_core.theme.resolver.template_name.class: SWP\Bundle\CoreBundle\Resolver\TemplateNameResolver

services:
    swp_core.detection.device_detection:
        class: SWP\Bundle\CoreBundle\Detection\DeviceDetection

    sylius.theme.locator.application_resource:
        class: SWP\Bundle\CoreBundle\Locator\ApplicationResourceLocator
        arguments:
            - "@filesystem"
            - "@swp_core.detection.device_detection"

    sylius.theme.locator.bundle_resource:
        class: SWP\Bundle\CoreBundle\Locator\BundleResourceLocator
        arguments:
            - "@filesystem"
            - "@kernel"
            - "@swp_core.detection.device_detection"

    swp_core.theme.context.tenant_aware:
        class: SWP\Bundle\CoreBundle\Theme\TenantAwareThemeContext
        public: false
        arguments:
            - "@swp_multi_tenancy.tenant_context"
            - "@sylius.repository.theme"

    swp_core.twig_extension:
        class: '%swp_core.twig_extension.class%'
        public: false
        arguments:
            - "@swp_core.theme.context.tenant_aware"
        tags:
            - { name: twig.extension }

    swp_core.no_theme_exception_listener:
        class: SWP\Bundle\CoreBundle\EventListener\NoThemeExceptionListener
        tags:
            - { name: kernel.event_listener, event: kernel.exception }

    swp_core.theme.resolver.template_name:
        class: '%swp_core.theme.resolver.template_name.class%'

    swp_core.routing.route_enhancer:
        class: '%swp_core.routing.route_enhancer.class%'
        arguments:
            - "@swp_core.theme.resolver.template_name"
            - "@swp_template_engine_loader_chain"
            - "@swp_template_engine_context"
        tags:
            -  { name: dynamic_router_route_enhancer, priority: 10 }

    swp_core.provider.theme:
        class: SWP\Bundle\CoreBundle\Theme\Provider\ThemeProvider
        arguments:
            - '@sylius.repository.theme'
            - '@swp_multi_tenancy.tenant_context'

    swp_core.form.type.theme_name_choice:
        class: SWP\Bundle\CoreBundle\Form\Type\ThemeNameChoiceType
        arguments:
            - '@swp_core.provider.theme'
        tags:
            - { name: form.type }

    swp_core.form.type.organization_code_choice:
        class: SWP\Bundle\CoreBundle\Form\Type\OrganizationCodeChoiceType
        arguments:
            - '@swp.repository.organization'
        tags:
            - { name: form.type }

    swp_core.twig_stringy_extension:
        class: SWP\Bundle\CoreBundle\Twig\StringyExtension
        public: false
        arguments:
            - "@twig"
        tags:
            - { name: twig.extension }

    swp_core.security.session.domain_dynamic_storage:
        class: "SWP\\Bundle\\CoreBundle\\Security\\Storage\\DynamicDomainSessionStorage"
        arguments:
            - "%domain%"
