{% extends 'base.html.twig' %}

{% block body %}
<div id="page" class="container">

  <!-- Content -->
  <section id="content">
  	<div class="row">
  		<article class="news_item error_page">
  			<div class="content content_text ">
				<h2>Internal Server Error</h2>
				<p>Error 500 : Request unsuccessful because of an unexpected condition encountered by the server.</p>
			</div>
		</article>
	</div>
  </section><!-- End Content -->

</div>
{% endblock %}

{% block template_code %}
<pre class="js-template-code" style="display:none;">{{ source(_self)|escape('html') }}</pre>
{% endblock %}
