{% extends 'base.html.twig' %}

{% block body %}
    <h1>Access to this page is Forbidden</h1>

    <p>
        The requested page couldn't be rendered. <a href="{{ path('homepage') }}">Return to the homepage</a>.
    </p>
{% endblock %}
