Symfony\Cmf\Bundle\RoutingBundle\Model\Route:
    exclusion_policy: ALL
    properties:
        id:
            expose: true
            type: integer
        content:
            expose: true
        staticPrefix:
            expose: true
            type: string
        variablePattern:
            expose: true
            type: string
    relations:
        -
            rel: self
            href:
                route: swp_api_content_show_routes
                parameters:
                    id: expr(object.getId())
