parameters:
    env(FS_MAIN_ADAPTER): local_adapter
    env(FS_AWS_S3_BUCKET): ''
    env(FS_AWS_S3_PREFIX): ~
    env(FS_AWS_S3_VERSION): 'latest'
    env(FS_AWS_S3_REGION): ''
    env(FS_AWS_S3_KEY): ''
    env(FS_AWS_S3_SECRET): ''
    env(FS_AWS_S3_ENDPOINT): ''
    env(BLACKLISTED_KEYWORDS): '[]'
    env(REDIRECT_NOT_FOUND_ARTICLES_TO_ROUTE): false

jms_serializer:
    metadata:
        directories:
            CmfRoutingBundle:
                namespace_prefix: Symfony\Cmf\Bundle\RoutingBundle
                path: "@SWPContentBundle/Resources/config/serializer/CmfRoutingBundle"
            SymfonyRouting:
                namespace_prefix: Symfony\Component\Routing
                path: "@SWPContentBundle/Resources/config/serializer/SymfonyRouting"
            ContentBundle:
                namespace_prefix: SWP\Bundle\ContentBundle
                path: "@SWPContentBundle/Resources/config/serializer"


doctrine:
    orm:
        entity_managers:
            default:
                filters:
                    soft-deleteable:
                        class: Gedmo\SoftDeleteable\Filter\SoftDeleteableFilter
                        enabled: true

stof_doctrine_extensions:
    orm:
        default:
            softdeleteable: true
            sortable: true
            tree: true
            timestampable: true
    class:
        timestampable:  SWP\Bundle\ContentBundle\EventListener\TimestampableListener

cmf_routing:
    chain:
        replace_symfony_router: true
        routers_by_id:
            cmf_routing.dynamic_router: 120
            router.default: 100
    dynamic:
        route_collection_limit: 100
        route_provider_service_id: swp.provider.route
        persistence:
            orm:
                enabled: true
                route_class: SWP\Bundle\ContentBundle\Model\Route

cmf_core:
    publish_workflow:
        enabled:                 true
        checker_service:         cmf_core.publish_workflow.checker.default
        view_non_published_role: ROLE_CAN_VIEW_NON_PUBLISHED
        request_listener:        false

oneup_flysystem:
    adapters:
        aws_adapter:
            awss3v3:
                client: Aws\S3\S3Client
                bucket: '%env(resolve:FS_AWS_S3_BUCKET)%'
                prefix: '%env(resolve:FS_AWS_S3_PREFIX)%'
                options:
                    ACL: 'public-read'
        local_adapter:
            local:
                directory: '%kernel.project_dir%/public/uploads/'
    filesystems:
        swp_filesystem:
            adapter: fallback_adapter # fallback_adapter defined via extension class
            alias: swp_filesystem

swp_seo:
    upload_destination: swp_filesystem
    persistence:
        orm:
            enabled: true
            classes:
                seo_metadata:
                    model: SWP\Bundle\ContentBundle\Model\ArticleSeoMetadata
                    interface: SWP\Bundle\ContentBundle\Model\ArticleSeoMetadataInterface
                seo_image:
                    model: SWP\Bundle\ContentBundle\Model\ArticleSeoMedia
                    interface: SWP\Bundle\ContentBundle\Model\ArticleSeoMediaInterface
